* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}

.main-header {
  background-color: teal;
  padding: 1rem 2rem;
}

.main-header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar ul li {
  margin-right: 2rem;
}
.navbar ul li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.main-container {
  max-width: 1220px;
  margin: auto;
}
.py-2 {
  padding: 0.5rem 0;
}
.center {
  text-align: center;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
